<div>

<h3>Public wikis</h3>
<table class="table">
  <tbody>
    <% @wikis.each do |wiki| %> 
      <tr>
        <td><%= link_to wiki.title, wiki %></td>
        <td><%= link_to "edit", edit_wiki_path(wiki) %></td> 
        <td><%= link_to "delete", wiki, method: :delete %></td>
        <td>export</td>
      </tr>
    <% end %>
  </tbody>
</table> 
</div>
  <div>
    <%= link_to "New Wiki", wikis_new_path, class: 'btn btn-primary' %>
  </div>
